<?xml version="1.0"?>
<config>
  <modules>
    <Paysolutions_Payso>
      <version>0.1.0</version>
    </Paysolutions_Payso>
  </modules>
  <global>
    <models>
      <payso>
        <class>Paysolutions_Payso_Model</class>
      </payso>
    </models>
    <helpers>
      <payso>
        <class>Paysolutions_Payso_Helper</class>
      </payso>
    </helpers>
    <blocks>
      <payso>
        <class>Paysolutions_Payso_Block</class>
      </payso>
    </blocks>
	
    <resources>
        <payso_setup>
            <setup>
                <module>Paysolutions_Payso</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </payso_setup>
        <payso_write>
            <connection>
                <use>core_write</use>
            </connection>
        </payso_write>
        <payso_read>
            <connection>
                <use>core_read</use>
            </connection>
        </payso_read>
    </resources>	
  </global>
  <default>
    <payment>
      <payso>
        <model>payso/payso</model>
        <active>1</active>
		<cgi_url>0</cgi_url>
        <order_status>pending</order_status>
        <title>Paysolutions Payment Gateway</title>
		<merchant_id>example@paysolutions.com</merchant_id>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </payso>
    </payment>
  </default>
  <frontend>
    <routers>
      <payso>
        <use>standard</use>
        <args>
          <module>Paysolutions_Payso</module>
          <frontName>payso</frontName>
        </args>
      </payso>
    </routers>
  </frontend>
</config>